################################################################
# Global configuration
################################################################
global:
  checkNewVersion: true
  sendAnonymousUsage: false

################################################################
# EntryPoints configuration
################################################################
entryPoints:
  web:
    address: :80

################################################################
# Traefik logs configuration
################################################################
log:
  level: DEBUG

################################################################
# Access logs configuration
################################################################
accessLog:
  filePath: /tmp/traefik/access.log
  bufferingSize: 100

################################################################
# API and dashboard configuration
################################################################
api:
  insecure: true
  dashboard: true

################################################################
# Docker configuration backend
################################################################
providers:
  docker:
    network: traefik-network
    exposedByDefault: false